<header>
    <h1><a href="/">Rejestracja</a></h1>
    <nav>
        <a href="/">Użytkownicy</a><br>
        <a href="/users/new">Utwórz konto</a>
        <a href="/users/login">Zaloguj się</a>
    </nav>
</header>